* {
  box-sizing: border-box;
}
body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

:root {
  --primary-color: hsl(214, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --transition: color 0.1s, background-color 0.2 ease-in-out;
  --skills-bar-length: 0%;

  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-xxl: 60px;

  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-flex: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;
  --rtc-padding-xxl: 60px;

  --rtc-gap-header: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-tarjetas: 50px;
  --rtc-header-radius: 10px;
  --rtc-border-radius: 0.4em;
  --rtc-border-radius-max: 40px;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: sans-serif;
}
.headerClass {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

.icon {
  width: 20px;
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}
main {
  display: grid;
  gap: 0.5em;
}
@media (min-width: 720px) {
  .main {
    padding: 2em;
    grid-template-columns: min-content 1fr;
  }
}
.column {
  display: grid;
  gap: 0.5em;
}
@media (min-width: 720px) {
  .column--right {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    align-items: start;
  }
}
.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--rtc-border-radius);
}
.card_image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  overflow: hidden;
  border-radius: var(--rtc-border-radius-max);
}
.card_header {
  padding: 1em 0;
}
.card_title {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.card_subtitle {
  font-size: 0.9rem;
  opacity: 0.8;
}
.cardlink {
  display: flex;
  margin-bottom: 0.5em;
}

.card_text {
  font-size: 0.9rem;
  line-height: 2;
}

@media (min-width: 720px) {
  .card-project {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column: 1/-1;
  }
}
.skills {
  padding: 1em 0;
}
.skills_header {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin-left: auto;
}
.skills_tech {
  margin: 0;
  font-size: 0.8rem;
}
.skills_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.skills_bar,
.skills_bar::after {
  position: relative;
  width: 175px;
  height: 8px;
  background-color: #888;
  border-radius: var(--rtc-border-radius);
  overflow: hidden;
}
.skills_bar::after {
  content: '';
  position: absolute;
  left: -175px;
  background-color: var(--primary-color);
  transition: var(--transition);
  animation: skills-bar-fill 2s ease-in-out forwards;
}
.skills_bar--10::after {
  --skills-bar-length: 10%;
}
.skills_bar--20::after {
  --skills-bar-length: 20%;
}
.skills_bar--30::after {
  --skills-bar-length: 30%;
}
.skills_bar--40::after {
  --skills-bar-length: 40%;
}
.skills_bar--50::after {
  --skills-bar-length: 50%;
}
.skills_bar--60::after {
  --skills-bar-length: 60%;
}
.skills_bar--70::after {
  --skills-bar-length: 70%;
}
.skills_bar--80::after {
  --skills-bar-length: 80%;
}
.skills_bar--90::after {
  --skills-bar-length: 90%;
}
.skills_bar--100::after {
  --skills-bar-length: 100%;
}

.card-project {
  position: relative;
}
@media (min-width: 720px) {
  .project {
    margin-left: 2em;
  }
}

.project_tags {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  font-size: 0.6rem;
  width: 275px;
}
@media (min-width: 720px) {
  .project_tags {
    width: 325px;
    font-size: 0.8rem;
  }
}
.project_tag {
  padding: 0.4em 0.8em;
  border-radius: var(--rtc-border-radius);
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.card-image {
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 225px;
}
@media (min-width: 720px) {
  .buttons {
    bottom: 1em;
  }
}
.button {
  width: 100px;
  line-height: 2.5;
  text-align: center;
  border-radius: var(--rtc-border-radius);
  transition: var(--transition);
}
.button--primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.button--ghost {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@keyframes skills-bar-fill {
  to {
    transform: translateX(var(--skills-bar-length));
  }
}
