.experience {
  display: flex;
  align-items: start;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid var(--primary-color);
  border-radius: var(--rtc-border-radius);
  transition: var(--transition);
}
.experience-image {
  max-width: 15%;
  margin-right: 1em;
}
.experience_time {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}
.experience_job {
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  transition: var(--transition);
}
.experience_description {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}
